<div class="container-fluid page-content" style="margin-top: 7% !important;">
    <div class="row" *ngIf="usuarioLogado()">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">Nome:
                    <b>{{user.nome + ' ' + user.sobrenome}}</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>
                                <b>CPF:</b> {{user.cpf}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <b>Telefone:</b> {{user.telefone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <P>
                                <b>Endereço:</b> Maria de Lourdes garcia, Ilha de Monte Belo, Vitoria-ES - 29051250</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3" style="float: right">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Subtotal:</b> R$ {{subtotal}}
            </div>
            <hr />
            <div class="panel-body">
                <b>Entrega:</b> R$ {{frete}}
                <hr />
                <div class="panel-footer">
                    <p>Total:</p>
                </div>
                <button disabled="!usuarioLogado()" type="button" class="btn btn-success btn-lg btn-block" (click)="adicionarCarrinho(true)">
                    <span class="glyphicon glyphicon-credit-card"></span>&nbsp; Finalizar
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="usuarioLogado()">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Pagamento</p>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label name="cartão">Numero do cartão</label>
                                <input type="text" [(ngModel)]="cartao" class="form-control" id="cartao" name="cartao">
                            </div>

                            <div class="form-group col-md-6">
                                <label name="nome">Nome impresso no cartão</label>
                                <input type="text" [(ngModel)]="nome" class="form-control" id="nome" name="nome">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label>Validade</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label name="parcelas">Mes</label>
                                <input type="number" [(ngModel)]="parcelas" class="form-control" id="parcelas" name="parcelas">
                            </div>
                            <div class="form-group col-md-2">
                                <label name="nome"> Ano</label>
                                <input type="text" [(ngModel)]="ano" class="form-control" id="ano" name="ano">
                            </div>
                            <div class="form-group col-md-2">
                                <label name="nome">Codigo de segurança</label>
                                <input type="text" [(ngModel)]="seguranca" class="form-control" id="seguranca" name="seguranca">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="!usuarioLogado()">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Dados Pessoais</strong>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label name="cartão">Nome</label>
                                <input type="text" [(ngModel)]="nomeCliente" class="form-control" id="nomeCliente" name="nomeCliente">
                            </div>

                            <div class="form-group col-md-4">
                                <label name="nome">Sobrenome</label>
                                <input type="text" [(ngModel)]="sobrenome" class="form-control" id="sobrenome" name="sobrenome">
                            </div>

                            <div class="form-group col-md-4">
                                <label name="nome">Data de Nascimento</label>
                                <input type="text" [(ngModel)]="dataNascimento" class="form-control" id="dataNascimento" name="dataNascimento">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label name="nome">CPF</label>
                                <input type="text" [(ngModel)]="cpf" class="form-control" id="cpf" name="cpf">
                            </div>

                            <div class="form-group col-md-4">
                                <label name="nome">Email</label>
                                <input type="text" [(ngModel)]="email" class="form-control" id="email" name="email">
                            </div>

                            <div class="form-group col-md-2">
                                <label>Senha</label>
                                <input type="text" [(ngModel)]="senha" class="form-control" id="senha" name="senha">
                            </div>

                            <div class="form-group col-md-2">
                                <label>Confirmar Senha</label>
                                <input type="text" [(ngModel)]="confirmarSenha" class="form-control" id="confirmarSenha" name="confirmarSenha">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!usuarioLogado()">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Endereço de Entrega</strong>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label name="nome">CEP</label>
                                <input type="text" [(ngModel)]="cep" class="form-control" id="cep" name="cep">
                            </div>

                            <div class="form-group col-md-4">
                                <label name="nome">Bairro</label>
                                <input type="text" [(ngModel)]="bairro" class="form-control" id="bairro" name="bairro">
                            </div>

                            <div class="form-group col-md-2">
                                <label name="nome">Estado</label>
                                <input type="text" [(ngModel)]="estado" class="form-control" id="estado" name="estado">
                            </div>

                            <div class="form-group col-md-2">
                                <label name="cartão">Cidade</label>
                                <input type="text" [(ngModel)]="cidade" class="form-control" id="cidade" name="cidade">
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>